# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (如使用)
Pods/
Carthage/Build/

# 环境与密钥
*.xcconfig.local
Secrets.plist
.env

# Node / Web（后续）
node_modules/
dist/
.next/
